{% extends 'base.html' %}
{% load static %}

{% block nav_block %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'manager' %}">Профиль</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Каталог
  </a>
  <ul class="dropdown-menu">
    {% if user.is_authenticated %}
      {% for category in categories %}
        <li><a class="dropdown-item" href="{% url 'product_list' category.id %}">{{ category.name }}</a></li>
      {% endfor %}
    {% else %}
      {% for category in categories %}
      <li><a class="dropdown-item" href="{% url 'login' %}">{{ category.name }}</a></li>
      {% endfor %}
    {% endif %}
  </ul>
</li>

  <li class="nav-item">
      <a class="nav-link" href="{% url 'add_product' %}">Панель управления</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'brand_list' %}">Бренды</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'add_news' %}">Новости</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Заказы</a>
  </li>

<li class="nav-item">
    <a class="nav-link" href="#"></a>
</li>
{% if user.is_authenticated %}
  <!-- Если пользователь авторизован -->
  {% if user.is_active and user.is_staff %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'manager' %}">{{ user.username }}</a>
    </li>
  {% elif user.is_active %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'client' %}">{{ user.username }}</a>
    </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
  </li>
{% else %}
  <!-- Если пользователь не авторизован -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Войти</a>
  </li>
{% endif %}

{% endblock %}

{% block content %}

<!-- brands.html -->
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Производители</li>
          <li class="breadcrumb-item">Добавление</li>
        </ol>
      </nav>
    <h2>Добавить товар</h2>
      <!-- Форма для добавления товара -->
  <div class="row">
    <div class="col-md-6">
      <form method="post" action="{% url 'add_product' %}" enctype="multipart/form-data" class="mb-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Добавить товар</button>
      </form>
    </div>

    <div class="col-md-6">
        <br>
        <ul class="list-group">
              {% for product in products %}
              <li class="list-group-item"> {{ product.name }} - {{ product.price }} ₸ </li>
              {% endfor %}
           <br>
        </ul>
    </div>
    </div>

  </div>

</div>
<br>
<br>
{% endblock %}