{% extends 'base.html' %}
{% load static %}

{% block nav_block %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'client' %}">Профиль</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Каталог
  </a>
  <ul class="dropdown-menu">
    {% if user.is_authenticated %}
      {% for category in categories %}
        <li><a class="dropdown-item" href="{% url 'product_list' category.id %}">{{ category.name }}</a></li>
      {% endfor %}
    {% else %}
      {% for category in categories %}
      <li><a class="dropdown-item" href="{% url 'login' %}">{{ category.name }}</a></li>
      {% endfor %}
    {% endif %}
  </ul>
</li>

  <li class="nav-item">
      <a class="nav-link" href="#">Мои заказы</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'favorites'  %}">Фавориты</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Мои отзывы</a>
  </li>

<li class="nav-item">
    <a class="nav-link" href="#"></a>
</li>
{% if user.is_authenticated %}
  <!-- Если пользователь авторизован -->
  {% if user.is_active and user.is_staff %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'manager' %}">{{ user.username }}</a>
    </li>
  {% elif user.is_active %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'client' %}">{{ user.username }}</a>
    </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
  </li>
{% else %}
  <!-- Если пользователь не авторизован -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Войти</a>
  </li>
{% endif %}

{% endblock %}

{% block content %}

<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Клиент</li>
      <li class="breadcrumb-item">Список отзывов</li>
    </ol>
  </nav>

  <h2>Ваши отзывы</h2>

  {% if reviews %}
    <div class="row">
      {% for review in reviews %}
        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'product_detail' review.subject.id %}" style="text-decoration: none;">{{ review.subject.name }}</a></h5>
              <p class="card-text">{{ review.feedback }}</p>
              <p class="card-text"><strong>Оценка: {{ review.stars }}/5</strong></p>
              <!-- Добавьте другие поля отзыва, если необходимо -->
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="pagination">
      <span class="step-links">
        {% if reviews.has_previous %}
          <a href="?page=1">&laquo; первая</a>
          <a href="?page={{ reviews.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
          Страница {{ reviews.number }} из {{ reviews.paginator.num_pages }}.
        </span>

        {% if reviews.has_next %}
          <a href="?page={{ reviews.next_page_number }}">следующая</a>
          <a href="?page={{ reviews.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
      </span>
    </div>
  {% else %}
    <p>У вас нет отзывов.</p>
  {% endif %}


{% endblock %}